body {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header div img {
  width: 370px;
}

section {
  margin: 0 4em 0 4em;
}

.ingredient,
.ingredient button,
.ingredient input,
.ingredient input::placeholder,
.ingredient .dropdown-menu {
  background-color: #3282f7;
  color: #ffffff;
}

.appliance,
.appliance button,
.appliance input,
.appliance input::placeholder,
.appliance .dropdown-menu {
  background-color: #68d9a4;
  color: #ffffff;
}

.ustensil,
.ustensil button,
.ustensil input,
.ustensil input::placeholder,
.ustensil .dropdown-menu {
  background-color: #ed6454;
  color: #ffffff;
}

.dropdown input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.search-field {
  position: relative;
  margin-bottom: 1em;
}

.search-field input {
  height: 70px;
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  outline: none;

  padding-left: 1em;
}

.search-field input::placeholder {
  border: none;
}

.search-field em {
  position: absolute;
  top: 0.55em;
  right: 0.6em;
  width: 32px;
  height: 32px;
  font-size: 2.2em;
}

.selected-filters {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.selected-filters .filter {
  position: relative;
  font-size: 18px;
  min-width: 50px;
  max-height: 37px;
  min-height: 37px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 6px;
}

.selected-filters .filter em {
  position: absolute;
  right: 1em;
  top: 0.8em;
  cursor: pointer;
}

.dropdown {
  position: relative;
  border-radius: 6px;
  font-size: 18px;
  min-height: 69px;
  max-height: 69px;
  max-width: 700px;
}

.dropdown button {
  position: relative;
  border-radius: 6px;
  width: 170px;
  height: 69px;
  font-size: 18px;
  border: none;
}

.dropdown .dropdown-search {
  display: none;
}

.dropdown.active button {
  display: none;
}

.dropdown.active .dropdown-search {
  display: block;
}

.dropdown-menu {
  position: static;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 0.7em;
  border-radius: 0 0 6px 6px;  
  list-style: none;
}

.dropdown-menu li {
  min-width: 225px;
  max-width: 225px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #ffffff;
}

.dropdown.active .dropdown-menu {
  display: flex;
}

.dropdown button span {
  position: absolute;
  left: 0.7em;
  top: 1.4em;
}

.dropdown-search {
  position: relative;
}

.dropdown-search input {
  min-width: 75%;
  margin-right: 4em;
  height: 2em;
  margin-top: 1.5em;
  margin-left: 0.7em;
  border: none;
  outline: none;
}

.dropdown-search input:focus {
  border: none;
  outline: none;
}

.dropdown button em,
.dropdown-search em {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.dropdown .dropdown-search {
  min-width: 170px;
}

.filter-selector {
  display: flex;
  flex-direction: row;
  gap: 1em;

  margin-bottom: 2em;
}

.recipe-list-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 4.95em;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 2em;
  height: 370px;
  width: 380px;  
  background-color: #E7E7E7;
}

.recipe-image {
  width: 100%;
  height: 180px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;  
  background-color: #E7E7E7;
  width: 100%;
}

.recipe-header h3, .recipe-header .recipe-time {
  margin: 0;
  padding: 0.5em;
}

.recipe-header h3{
  font-size: 18px;
  font-weight:500;
  max-height: 18px;
  display: inline-block;
  overflow: hidden;  
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.recipe-header .recipe-time{
  min-width: 75px;
}

.recipe-content{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  background-color: #E7E7E7;
  padding-bottom: 1em;
  text-overflow: ellipsis;
  width: 100%;
  max-width:100%;
  max-height: 110px;  
  gap:10px;
}

.recipe-content ul,.recipe-content p{
  width: 170px;
  max-width: 170px;
  max-height: 110px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-content p{  
  overflow-y: scroll;
}

.recipe-content ul{
  list-style: none;  
  margin-left: 1em;
}

.recipe-content ul li{  
  text-decoration: none;
  width: 170px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;

}

li .ingredient-name{
  font-weight: 600;
}
